[SddmGreeterTheme]
Name=Breeze Moe
Description=Breeze but Moe, with a custom Arch Linux UwU edition logo.
Author=Speykious and KDE Visual Design Group
Copyright=(c) 2022, Speykious and David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=speykious@gmail.com
Theme-Id=breeze-moe
Theme-API=2.0
